---
const { episodes, imgGallery  } = Astro.props;
---

<div class="space-y-4">
  {episodes.map((episode: { title: string; description: string; id: string }) => (
    <div class="bg-gray-800 p-4 rounded-lg">
      <h3 class="text-xl font-semibold text-white">{episode.title}</h3>
      <p class="text-gray-400">{episode.description}</p>
      <a href={`/watch/${episode.id}`} class="inline-block mt-2 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
        Ver episodio
      </a>
    </div>
  ))}
  <div class="grid grid-cols-6 gap-4">
    {imgGallery.map((img: any) => (
      <a href={img.path} target="_blank" rel="noopener noreferrer">
        <img src={img.path} alt={img.title} class="w-full h-auto object-cover rounded-lg">
      </a>
    ))}
  </div>
</div>